<center>
<h1><%= "LOSE" %></h1>
<h2><%= @girl.name %></h2>
<h2><%= @girl.about %></h2>
<% if @girl.actress %>
  <h2><%= "Actress" %></h2>
<% else %>
  <h2><%= "Girl" %></h2>
<% end %>
<%= image_tag @girl.avatar.url(:medium) %>
<%= button_to "Next", { :action => "play" }, :method => :get %>
</center>