<h2><%= @girl.name %></h2>
<h2><%= @girl.about %></h2>

<% if @girl.actress %>
  <h2><%= "Actress" %></h2>
<% else %>
  <h2><%= "Girl" %></h2>
<% end %>

<div><%=  @answer_float %>% right answers</div>


<% @girl.photos.each do |photo| %>
    <%= image_tag photo.file.cdn_url("scale_crop/150x200/center/") %>
<% end %>
