<center>

	<% if @girl.actress == true && @win == true %>
	  <h1><%= "Right! She's porn actress" %></h1>
	<% elsif  @girl.actress == false && @win == true %>
	  <h1><%= "Right! She isn't porn actress" %></h1>
	<% elsif  @girl.actress == true && @win == false %>
	  <h1><%= "Wrong. She's porn actress" %></h1>
	<% elsif  @girl.actress == false && @win == false %>
	  <h1><%= "Wrong. She isn't porn actress" %></h1>
	<% end %>

<h2 style="color: black"><%= @girl.name %></h2>
<h2><%= @girl.about %></h2>

<% if @photo && @photo.file %>
<%= image_tag @photo.file.cdn_url("scale_crop/210x280") %>
<% end %>
<p>
<%= button_to "Next", { :action => "play" }, class: "btn btn-large btn-primary play-button" %>
<h6><%=  @answer_float %>% of people know that girl</h6>
</center>